# Backend (Spring Boot / Maven)
softveri_server_ANDRIJANA/target/
softveri_server_ANDRIJANA/nbproject/private/

# Frontend (React / Node)
softveri_klijent_ANDRIJANA/node_modules/
softveri_klijent_ANDRIJANA/.idea/

# Generalno
*.log
*.tmp
*.class
*.jar
*.war