# dependencies
/autobmobili_front/node_modules/
/autobmobili_front/.pnp
/autobmobili_front/.pnp.js

# testing
/autobmobili_front/coverage

# production
/autobmobili_front/build

# misc
/autobmobili_front/.DS_Store
/autobmobili_front/.env.local
/autobmobili_front/.env.development.local
/autobmobili_front/.env.test.local
/autobmobili_front/.env.production.local

/autobmobili_front/npm-debug.log*
/autobmobili_front/yarn-debug.log*
/autobmobili_front/yarn-error.log*

# ======================
# BACKEND (Java / Maven)
# ======================
/automobili_back/target/
/automobili_back/*.iml
/automobili_back/.idea/
/automobili_back/nb-configuration.xml
/automobili_back/nbactions.xml
/automobili_back/.netbeans_automatic_build
/automobili_back/logs/

# ignore large build artifacts
/automobili_back/target/**/*.jar
/automobili_back/target/**/*.war
/automobili_back/target/**/*.class
